/* -------TI-Wishlist-------- */
.tinv-wishlist table.tinvwl-table-manage-list {background-color: var(--wdtBodyBGColor);}
.woocommerce.tinv-wishlist .variation dt {color: var(--wdtHeadAltColor);font-weight: 500;}
.woocommerce.tinv-wishlist table th {color: var(--wdtAccentTxtColor);}
.tinv-wishlist table input[type=checkbox] {width: 18px;height: 18px;}
.tinv-wishlist .product-remove button {background-color: var(--wdtPrimaryColor);color: var(--wdtSecondaryColor);display: block;padding-top: 0;padding-left: 0;font-size: inherit; line-height: 1px;}
.tinv-wishlist .product-remove button:hover {background-color: var(--wdtSecondaryColor); color: var(--wdtAccentTxtColor);}
/* .tinv-wishlist .wishlist_item .product-action .tinvwl-txt {display: none;} */
.tinv-wishlist .wishlist_item .product-action>.button>i {display: block !important;margin-right: 0;}
/* .tinv-wishlist .wishlist_item .product-action>.button[title="Add to Cart"] {padding: 0;margin: 0;} */
.tinv-wishlist .wishlist_item .product-action>.button {padding: 10px;}
.tinv-wishlist .wishlist_item .product-stock p {display: flex;justify-content: center;align-items: center;}
.tinv-wishlist .wishlist_item .product-name a {color:var(--wdtLinkColor);}
.tinv-wishlist .wishlist_item .product-name a:hover{color:var(--wdtLinkHoverColor);}
.tinv-wishlist .wishlist_item .product-name a {font-weight: 500;}
.woocommerce .tinvwl-table-manage-list tfoot button {margin: 0px 0 0px 0;}
.woocommerce.tinv-wishlist tfoot .tinvwl-to-left+.tinvwl-to-right {margin-top: 2px;}
.woocommerce.tinv-wishlist tfoot .tinvwl-to-left:not(:empty){width: 35%;margin-right: 0;}
.woocommerce.tinv-wishlist tfoot .tinvwl-to-right {width: 65%;}
.woocommerce.tinv-wishlist table td,
.woocommerce.tinv-wishlist table th {padding: 15px;}
.woocommerce.tinv-wishlist .tinvwl-to-right >*:not(:last-child) {margin-right: 15px;}
.woocommerce.tinv-wishlist tfoot .tinvwl-to-left .tinvwl-input-group >*:not(:last-child){margin-right: 15px;}
.woocommerce.tinv-wishlist .tinvwl-input-group .form-control {height: 50px;}
.woocommerce.tinv-wishlist .tinvwl-to-left .tinvwl-input-group .form-control+.tinvwl-input-group-btn {padding-left: unset;}
.woocommerce.tinv-wishlist tfoot .tinvwl-to-left .tinvwl-input-group >*:not(.tinvwl-input-group-btn) {width: 320px !important;}
.woocommerce.tinv-wishlist tfoot .tinvwl-input-group-addon, .woocommerce.tinv-wishlist tfoot .tinvwl-input-group-btn {width: auto;}
.woocommerce.tinv-wishlist .tinvwl-input-group {display: flex; align-items: center;}
.tinv-wishlist .tinv-modal .tinv-modal-inner { max-width: 300px;}
.tinv-wishlist .tinvwl-buttons-group button i.ftinvwl-heart-o::before, 
.tinv-wishlist .tinvwl-buttons-group button i.ftinvwl-key::before, 
.tinv-wishlist .tinvwl-buttons-group button i.ftinvwl-times::before {top: 0;}
.tinv-wishlist .tinvwl-buttons-group button i.ftinvwl-heart-o, 
.tinv-wishlist .tinvwl-buttons-group button i.ftinvwl-key, 
.tinv-wishlist .tinvwl-buttons-group button i.ftinvwl-times {vertical-align: text-bottom;}
.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart:before, 
.woocommerce ul.products li.product a.tinvwl-button.tinvwl_add_to_wishlist_button.tinvwl-icon-heart:before,
.woocommerce-page ul.products li.product a.tinvwl-button.tinvwl-icon-heart.tinvwl_add_to_wishlist_button:before,
a.wishlist_products_counter.top_wishlist-heart:before,
span.wishlist_products_counter.top_wishlist-heart:before, 
a.sidr-class-wishlist_products_counter.sidr-class-top_wishlist-heart:before {vertical-align: bottom;}




/*--------------------------------------------------------------*/
	/* #region - Wishlist */
/*--------------------------------------------------------------*/

    .woocommerce table.wishlist_table th, .woocommerce table.wishlist_table td { padding: 15px 20px; }

    .woocommerce table.wishlist_table thead th, .woocommerce table.wishlist_table td[colspan="6"] { border-top-width: 0; }

    .woocommerce table.wishlist_table tr td.product-remove div a.remove { display: inline-block; vertical-align: middle; font-weight: normal; height: 24px; line-height: 22px; width: 24px; margin-top: 0; }

    .woocommerce table.wishlist_table tfoot td[colspan="6"],
    .woocommerce-page table.shop_table.wishlist_table td.product-name .yith-wcqv-button { display: none; }


    .woocommerce table.wishlist_table td.wishlist-empty { font-size: 18px; }

    .woocommerce .wishlist_table td.product-add-to-cart { text-align: center; }
    .wishlist_table .product-add-to-cart span.dateadded { line-height: 1.5em; }
    .woocommerce .wishlist_table td.product-add-to-cart a { display: inline-block !important; /* line-height: normal; */ margin: 0 !important; }
    .woocommerce .wishlist_table td.product-add-to-cart .remove_from_wishlist.button { display: none !important; }

    .wishlist_table .product-add-to-cart span.dateadded ~ a { margin-top: 10px !important; }

    .woocommerce .wishlist-title { position: relative; }
    .woocommerce .wishlist-title h2 { display: block; font-size: var(--wdtFontSize_H3); margin-top: 0; padding-left: 0; padding-right: 50px; -webkit-transition: var(--wdtBaseTransition); transition: var(--wdtBaseTransition); }
    .woocommerce .wishlist-title:not(:hover) h2 { padding-left: 0; }

    .wishlist-title.wishlist-title-with-form h2 { cursor: pointer; display: inline; padding: 0; }
    .wishlist-title.wishlist-title-with-form:hover h2, .wishlist-title.wishlist-title-with-form h2:hover { background: none; }

    .woocommerce .wishlist-title h2:only-child { padding-left: 0 !important; padding-right: 0 !important; }

    .woocommerce .wishlist-title a.show-title-form { background: none !important; color: var(--wdtPrimaryColor) !important; display: inline-flex; line-height: var(--wdtLineHeight_Alt); margin: 0 5px; opacity: 0; padding: 0; pointer-events: none; text-indent: -9999px; vertical-align: middle; }
    .woocommerce .wishlist-title:hover a.show-title-form { opacity: 1; pointer-events: auto; }
    .woocommerce .wishlist-title a.show-title-form i { font-size: var(--wdtFontSize_H4); height: inherit; line-height: var(--wdtLineHeight_Alt); margin: 0; text-indent: 0; }
    .woocommerce .wishlist-title a.show-title-form i.fa.fa-pencil { font-family: "Mezan Icons" !important; }
    .woocommerce .wishlist-title a.show-title-form i.fa.fa-pencil:before { content: "\e831"; }

    .woocommerce .hidden-title-form { margin-top: 0 !important; margin-bottom: 35px !important; margin-right: 105px; width: auto; }
    .woocommerce .hidden-title-form > input[type="text"] { line-height: var(--wdtLineHeight_Base); padding: var(--wdtInputPadding); }
    .woocommerce .hidden-title-form .edit-title-buttons { display: flex; flex-direction: row-reverse; height: 100%; margin-left: 1px; position: absolute; left: 100%; right: auto; top: 0; }
    .woocommerce .hidden-title-form a.hide-title-form, .woocommerce .hidden-title-form a.save-title-form { height: 100%; line-height: 1em; margin: 1px !important; padding: 0 !important; min-width: 50px; width: 50px; display: flex; justify-content: center; align-items: center; }

    .yith-wcwl-share { margin-bottom: 15px; }
    .yith-wcwl-share li, .entry-content .yith-wcwl-share li { padding: 0; }
    .yith-wcwl-share li .email .fa-email:before { content: "\e803"; font-family: "Mezan Icons"; }


    .wishlist_table .add_to_cart.button, .yith-wcwl-popup-button a.add_to_wishlist, .wishlist_table a.ask-an-estimate-button, .wishlist-title a.show-title-form, .hidden-title-form a.hide-title-form, .woocommerce .yith-wcwl-wishlist-new button, .wishlist_manage_table a.create-new-wishlist, .wishlist_manage_table button.submit-wishlist-changes, .yith-wcwl-wishlist-search-form button.wishlist-search-button { cursor: pointer; display: inline-block; float: none; position: relative; outline: none; }

    .yith_wcwl_wishlist_footer { display: inline-block; }


    /* Color - BG */

    /* Color - Color */
    .wishlist_table tr td.product-stock-status span.wishlist-out-of-stock { color: #9f2124; }

    /* Color - Border */
    .woocommerce table.wishlist_table thead th, .woocommerce table.wishlist_table tbody td { border-color: rgba(var(--wdtHeadAltColorRgb),0.15); }

    .wishlist-title.wishlist-title-with-form:hover h2, .wishlist-title.wishlist-title-with-form h2:hover { border-color: var(--wdtBorderColor) }


/* #endregion - Wishlist */


/*--------------------------------------------------------------*/
	/* #region - Responsive */
/*--------------------------------------------------------------*/

    /*----*****---- << Tablet >> ----*****----*/

	/* Note: Design for a width of 768px */
	@media only screen and (min-width:768px) and (max-width:1280px) {


        .woocommerce-wishlist .page-with-sidebar table.shop_table.wishlist_table { border: 2px solid rgba(var(--wdtHeadAltColorRgb),0.15) !important; content: none; display: block; float: left; height: auto; line-height: 30px; position: relative; width: 100%; }

        .woocommerce .page-with-sidebar form.woocommerce input[type="hidden"] + table.shop_table.wishlist_table td.wishlist-empty { margin-bottom: 0; padding-bottom: 0; margin-top: 42px; }

        .woocommerce .page-with-sidebar .wishlist_table td.product-add-to-cart a { font-size: 16px; padding: 8px 25px; width: auto; }

        .woocommerce-wishlist .page-with-sidebar table.shop_table thead { display: none; }

        .woocommerce-wishlist .page-with-sidebar table.shop_table.wishlist_table tbody { display: block; overflow-x: auto; position: relative; white-space: nowrap; width: auto; }

        .woocommerce-wishlist .page-with-sidebar table.shop_table tbody tr { border-right-width: 0; border-bottom: 1px solid rgba(var(--wdtHeadAltColorRgb),0.15); display: block; margin: 0 !important; overflow: hidden; padding: 0; position: relative; vertical-align: top; width: 100% !important; }

        .woocommerce-wishlist .page-with-sidebar table.shop_table tbody tr:last-child { border-right-width: 0; border-bottom-width: 0; }

        .woocommerce .page-with-sidebar table.shop_table.wishlist_table tbody th:first-child,
        .woocommerce .page-with-sidebar table.shop_table.wishlist_table tbody td:first-child,
        .woocommerce .page-with-sidebar table.shop_table.wishlist_table tfoot th:first-child,
        .woocommerce .page-with-sidebar table.shop_table.wishlist_table tfoot td:first-child { border-left-width: 0 !important; }

        .woocommerce-wishlist .page-with-sidebar table.shop_table td { display: block; min-height: 1.25em; text-align: center; padding-top: 0; }

        .page-with-sidebar .woocommerce .wishlist_table td.product-add-to-cart a { float: none; display: inline-block !important; }

        .woocommerce .page-with-sidebar table.cart.wishlist_table img,
        .woocommerce-page .page-with-sidebar table.cart.wishlist_table img { width: 30px; }

        .page-with-sidebar .woocommerce table.shop_table.wishlist_table tbody th:first-child,
        .page-with-sidebar .woocommerce table.shop_table.wishlist_table tbody td:first-child { padding: 15px; width: 100%; }

        .page-with-sidebar .woocommerce table.shop_table.cart.wishlist_table tfoot th:first-child,
        .page-with-sidebar .woocommerce table.shop_table.cart.wishlist_table tfoot td:first-child { padding: 0; margin: 0; }

        .page-with-sidebar .woocommerce table.shop_table.wishlist_table tr td.product-price,
        .page-with-sidebar .woocommerce table.shop_table.wishlist_table tr td.product-stock-status { display: table-cell; float: none; text-align: center; vertical-align: middle; width: 1% !important; }

    }

    @media only screen and (min-width:768px) {

        .woocommerce table.shop_table.wishlist_table td.product-add-to-cart { text-align: center !important; }

    }


    @media only screen and (max-width:1024px) {
        .woocommerce.tinv-wishlist .tinvwl-input-group {display: flex;align-items: center;}
        .woocommerce.tinv-wishlist tfoot .tinvwl-to-left .tinvwl-input-group-btn .button {margin: 0;}
        .woocommerce.tinv-wishlist tfoot .tinvwl-to-left:not(:empty) {width: 100%;}
        .woocommerce.tinv-wishlist tfoot .tinvwl-to-right,
        .woocommerce.tinv-wishlist .tinvwl-input-group {width: 100%;}
        .woocommerce table.wishlist_table tbody td { padding: 20px 10px; }
        .woocommerce.tinv-wishlist tfoot .tinvwl-to-left .tinvwl-input-group >*:not(:last-child) {margin: 10px 20px 10px 0;}
        .woocommerce .tinvwl-table-manage-list tfoot button {margin: 10px 0 10px 0;}
        .tinv-wishlist .product-action {min-width: 150px;}
        .woocommerce.tinv-wishlist .tinvwl-to-right >*:not(:last-child) {margin-right: 20px;}
        .tinv-wishlist .product-action .button .tinvwl-txt {display: block;}

    }


    /*----*****---- << Mobile (Landscape) >> ----*****----*/

    /* Common Styles for the devices below 767px width */
    @media only screen and (max-width: 767px) {
        .woocommerce.tinv-wishlist table td.product-name a {font-size: 20px;}
        .woocommerce.tinv-wishlist table td, 
        .woocommerce.tinv-wishlist table th {padding: 10px;}
        .tinv-wishlist table thead th .tinvwl-mobile {font-size: var(--wdtFontSize_H5);}
        .tinv-wishlist .tinv-header h2 {font-size: var(--wdtFontSize_H3);}
        .tinv-wishlist table tbody tr {display: block;padding: 20px 0;}
        .tinv-wishlist .product-thumbnail img {max-width: 150px;}
        .tinv-wishlist table tfoot tr td,
        .tinv-wishlist table tbody tr td {border-width: 0;}
        /* .tinv-wishlist table input[type=checkbox], */
        .tinv-wishlist .product-remove button {width: 24px;height: 24px; right: 5px; position: relative;}
        .tinv-wishlist .tinvwl-table-manage-list .product-remove{padding: 10px;}
        .tinv-wishlist table tbody tr td.product-remove,
        .tinv-wishlist table tbody tr td.product-cb {
            display: inline-block;
            width: 40px !important;}
        .tinv-wishlist table tbody tr td.product-remove {float: right;}
        .tinv-wishlist table tbody tr td.product-cb {float: left;}
        .tinv-wishlist table  tbody tr {border-bottom: 1px solid black;}
        /* .tinv-wishlist .wishlist_item .product-action>.button.product_type_variable,
        .tinv-wishlist .wishlist_item .product-action>.button[title="Add to Cart"] {height: auto;width: fit-content;padding: var(--wdtPadding_Btn);} */
        .tinv-wishlist .wishlist_item .product-action>.button>i {display: none;}
        .tinv-wishlist .wishlist_item .product-action .tinvwl-txt {display: inline-block;}
        .woocommerce.tinv-wishlist tfoot .tinvwl-to-left:not(:empty) {width: 100%;}
        .woocommerce.tinv-wishlist .tinvwl-input-group {justify-content: center;}
        .woocommerce.tinv-wishlist tfoot .tinvwl-to-left+.tinvwl-to-right {margin-right: auto;margin-left: auto;width: 100%;}
        .woocommerce.tinv-wishlist tfoot .tinvwl-to-left .tinvwl-input-group >*:not(:last-child) {margin-right: 10px;}
        .woocommerce.tinv-wishlist .tinvwl-input-group {align-items: center;flex-direction: column;}
        .woocommerce.tinv-wishlist .tinvwl-input-group {margin-bottom: 10px;}
        .woocommerce.tinv-wishlist tfoot .select2-container.select2-container--default .select2-selection--single .select2-selection__rendered {text-align: center;}

        .woocommerce .wishlist_table tr td.product-thumbnail,
        .woocommerce .wishlist_table tr td.product-name { text-align: center; }

        .woocommerce table.wishlist_table tbody td, .woocommerce-page table.wishlist_table tbody td,
        .woocommerce table.wishlist_table tr td.product-remove { padding: 0; }

        .woocommerce table.wishlist_table thead th, .woocommerce table.wishlist_table tbody td { border-bottom-width: 0; border-top: 1px solid transparent; }

        .woocommerce table.shop_table.wishlist_table tr td.product-price,
        .woocommerce table.shop_table.wishlist_table tr td.product-stock-status { display: table-cell; float: none; text-align: center; vertical-align: middle; width: 1% !important; }


        .woocommerce-wishlist table.shop_table.wishlist_table { border-style: solid; border: 2px solid rgba(var(--wdtHeadAltColorRgb),0.15) !important; display: block; position: relative; width: 100%; }

        .woocommerce-wishlist table.shop_table thead { display: block; float: left; }
        .woocommerce-wishlist table.shop_table thead { display: none; }

        .woocommerce-wishlist table.shop_table thead tr.cart_table_item { display: block; }

        .woocommerce-wishlist table.shop_table th { display: block; margin-left: -1px; }
        .woocommerce-wishlist table.shop_table td { border-top-color: rgba(var(--wdtHeadAltColorRgb),0.15); display: block; min-height: 1.25em; }

        .woocommerce-wishlist table.shop_table.wishlist_table tbody { display: block; overflow-x: auto; position: relative; width: auto; white-space: nowrap; }

        .woocommerce-wishlist table.shop_table tbody tr { border-bottom: 2px solid rgba(var(--wdtHeadAltColorRgb),0.15); display: block; margin: 0 !important; overflow: hidden; padding: 0; position: relative; vertical-align: top; width: 100% !important; }

        .woocommerce-wishlist table.shop_table tbody tr:last-child { border-right-width: 0; border-bottom-width: 0; }

        .woocommerce table.wishlist_table td[colspan="6"], .woocommerce table.wishlist_table tbody td.wishlist-empty { border-top-width: 1px; }
        .woocommerce table.wishlist_table tbody td.wishlist-empty { border-bottom-width: 0; }

        .woocommerce table.shop_table.wishlist_table tbody th:first-child,
        .woocommerce table.shop_table.wishlist_table tbody td:first-child,
        .woocommerce table.shop_table.wishlist_table tfoot th:first-child,
        .woocommerce table.shop_table.wishlist_table tfoot td:first-child { border-left-width: 0 !important; }

        .woocommerce table.shop_table.wishlist_table tbody th:last-child,
        .woocommerce table.shop_table.wishlist_table tbody td:last-child,
        .woocommerce table.shop_table.wishlist_table tfoot th:last-child,
        .woocommerce table.shop_table.wishlist_table tfoot td:last-child { border-right-width: 0 !important; }

        .woocommerce table.shop_table.wishlist_table tbody td.product-remove:last-child { border-right-width: 1px !important; }

        .woocommerce table.cart.wishlist_table img, .woocommerce-page table.cart.wishlist_table img { width: 30px; }

        .woocommerce .shop_table.cart.wishlist_table td.product-name a,
        .woocommerce .shop_table.cart.wishlist_table td.product-price span,
        .woocommerce .shop_table.cart.wishlist_table td.product-stock-status span,
        .woocommerce .shop_table.cart.wishlist_table td.product-subtotal span,
        .woocommerce .shop_table.cart.wishlist_table tr.order td a { margin-top: 0; }

        .woocommerce table.shop_table.wishlist_table tr td.product-add-to-cart { width: 100% !important; }
        .woocommerce table.shop_table.wishlist_table tr td.product-add-to-cart a { font-size: 14px; margin: 0; padding: 20px 30px; }

        .woocommerce-page .wishlist_table tr td.product-name { text-align: left; }
        .woocommerce.tinv-wishlist tfoot .tinvwl-to-left .tinvwl-input-group >*:not(.tinvwl-input-group-btn) {width: 100% !important;}

    }


    /*----*****---- << Mobile >> ----*****----*/

    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
    @media only screen and (max-width: 479px) {
        .woocommerce.tinv-wishlist table td.product-name a {
            font-size: 18px;
        }
        .woocommerce.tinv-wishlist table td, 
        .woocommerce.tinv-wishlist table th {padding: 5px;}
        .tinv-wishlist .tinv-modal .tinv-modal-inner { max-width: 280px !important;}
        .woocommerce.tinv-wishlist table th,
        .woocommerce.tinv-wishlist table td,
        .woocommerce.tinv-wishlist table tbody, 
        .woocommerce.tinv-wishlist table th {font-size: 16px;}
        .tinv-wishlist table thead th .tinvwl-mobile {font-size: var(--wdtFontSize_H6);}
        .tinv-wishlist .tinv-header h2 {font-size: var(--wdtFontSize_H4);}
        .tinv-wishlist .product-thumbnail img {max-width: 100px;}
        .woocommerce table.wishlist_table td[colspan="6"], .woocommerce table.wishlist_table tbody td.wishlist-empty { width: 220px; }
        .woocommerce.tinv-wishlist tfoot .tinvwl-to-left+.tinvwl-to-right {width: 100%;}
        .woocommerce.tinv-wishlist tfoot .tinvwl-to-left .tinvwl-input-group >*:not(.tinvwl-input-group-btn) {width: 90% !important;margin-right: 0;}

    }

    /*----*****---- << Mobile >> ----*****----*/

    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
    @media only screen and (max-width: 319px) {

        .woocommerce table.wishlist_table tbody td, .woocommerce-page table.wishlist_table tbody td { width: 160px; }

    }